extends layout

block content
	div.container
		div.row
			h1 Create a group
			form(action='/createGroup' method='POST' name='createForm' )
				div.form-group
					label(for='groupName') Group Name: 
					input#groupName(type='text' name='groupName')
				div.form-group
					label(for='description') Describe your group:
					input#description(type='text' name='description')
				div.form-group
					label(for='groupPassword') Password
					input#groupPassword(type='password' name='groupPassword')
				div.form-group
					label(for='groupValidatePassword') Retype Password 
					input#groupValidatePassword(type='password' name='groupValidatePassword')
				div.form-group
					input(type='submit')
