extends layout

block content
	div.row
		h1 Group Home Page
		p This page will display all contributed reports, a search mechanism for looking up previous reports, and a plus button for making a new report


