extends layout

block links
	link(href='/stylesheets/index.css' rel='stylesheet' type='text/css')

block content
	div.row
		div.login-panel
			- var groupURL = '/groups/auth/'+groupName;
			h1 Please enter in the password for this group
			form(method='POST' action=groupURL)
				div.form-group
					label(for='passwordInput') Password:
					input#passwordInput(type='password' name='password')
				div.form-group
					input.btn.btn-primary(type='submit')
