extends layout


block content
	div.row
		form( action='/groups/search' method='POST')
			div.form-group
				div.active-cyan-3.active-cyan-4.mb-4
					input.form-control(type='text' placeholder='Search')
				input(type='submit') 
	div.row
		h1 Welcome #{username}	
	div.row
		h2 Your Groups
	
	div.row
		p list of groups will go here. The following is a group test link
			a(href='/groups/pboys') Pboys
	div.row
		a.btn.btn-primary(href='/createGroup') Create a Group


