extends layout

block links
	link(href='/stylesheets/index.css' rel='stylesheet' type='text/css')

if(locals.error)
	block errors
		div.alert.alert-danger
			p= error


block content
	div.row
		div.login-panel
			form(method='POST' action='/home')
				div.form-group
					label(for='usernameinput') Username:
					input#usernameinput(type='text' name='username')
				div.form-group
					label(for='passwordinput') Password:
					input#passwordinput(type='password' name='password')
				input.btn.btn-primary(type='submit')  
				p Dont have an account already? 
					a(href='/createAccount') Create one
			
