extends layout

block links
	link(href='/stylesheets/index.css' rel='stylesheet' type='text/css')

block content
	div.row
		div.login-panel
			form(method='POST' action='/')
				div.form-group
					label(for='usernameinput') Username:
					input#usernameinput(type='text' name='username')
				div.form-group
					label(for='passwordinput') Password:
					input#passwordinput(type='password' name='password')
				div.form-group
					input.btn.btn-primary(type='submit')  
					p Dont have an account already? 
						a(href='/createAccount') Create one
			
