html
	head
		title=title
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
		link(href='/stylesheets/normalize.css' rel='stylesheet' type='text/css')
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
		link(href='/stylesheets/style.css', rel='stylesheet' type='text/css')
		
		block links
	
	body
		div.container-fluid
			div.row
				h1 Surf Logger
				hr
		div.container
				
			block content

