extends layout

block links
	script(type='text/javascript' src='/javascripts/moment.js')
	script(type='text/javascript' src='/javascripts/bootstrap-datetimepicker.min.js')

block content
	div.row
		h1 Make a report #{groupName}
	
	div.row
		- var postURL = '/reports/' + groupName; 
		form(method='POST' action=postURL)
			div#datetimepicker1.input-group.date
				label(for='timeinput') What time did you surf at?
				input.form-control(type='text' name='timein')
				span.input-group-addon
					span.glyphicon.glyphicon-calendar
			script(type='text/javascript').
				$(function () {
					$('#datetimepicker1').datetimepicker();
				});
			label(for='rating') How good was it?
			select#rating(name='rating')
				option(value='Firing') Firing
				option(value='Good') Good
				option(value='Decent') Decent
				option(value='Mediocre') Mediocre
				option(value='Bad') Bad
				option(value='Shit') Absolute Shit
			input.btn.btn-primary(type='submit')
