form{
	
	
	margin: 5vw;
	margin-left:auto;
	margin-right: auto;
	padding:5vw;
	width: 30em;
	box-shadow: 10px 10px 5px grey;
	border: 1px solid grey;
	border-radius: 25px;
}

row{
	padding:5vw;
}

login-panel{
	margin:auto;
}

